{% extends "::base.html.twig" %}

{% block header_title %}Top @ Point Tools{% endblock %}

{% block content %}
    <h1>{{ 'Top users'|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>&#35;</td>
                <td>{{ 'User'|trans }}</td>
                <td>{{ 'Subscribers count'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for user in top_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url('user_show', {login: user.login}) }}">@{{ user.login }}</a></td>
                    <td>{{ user.subscribersCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
