{% extends "::base.html.twig" %}

{% block content %}
    <div class="well well-lg">
        {# @todo rewrite to Symfony forms #}
        <form class="form-inline" method="post" action="{{ url('user_search') }}">
            <div class="form-group">
                <label class="sr-only" for="index-input-username">{{ 'Username'|trans }}</label>
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input name="login" type="text" class="form-control" id="index-input-username" placeholder="username">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{ 'Search'|trans }}</button>
        </form>
    </div>

    <div class="container service-stats">
        <div class="row">
            <div class="col-xs-3"><span class="glyphicon glyphicon-user"></span> {{ 'All users'|trans }}</div>
            <div class="col-xs-2">{{ users_count }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3"><span class="glyphicon glyphicon-user"></span> {{ 'Subscribed users'|trans }}</div>
            <div class="col-xs-2"><a href="{{ url('user_show', {'login': service_login}) }}">{{ subscribers_count }}</a></div>
        </div>
        <div class="row">
            <div class="col-xs-3"><span class="glyphicon glyphicon-list"></span> {{ '24 hours events'|trans }}</div>
            <div class="col-xs-2">{{ events_count }}</div>
        </div>
    </div>
{% endblock %}
