{% extends "::base.html.twig" %}

{% block content %}
    <div class="well well-lg">
        {# @todo rewrite to Symfony forms #}
        <form class="form-inline" method="post" action="{{ path('user_search') }}">
            <div class="form-group">
                <label class="sr-only" for="index-input-username">{{ 'Username'|trans }}</label>
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input name="login" type="text" class="form-control" id="index-input-username" placeholder="username">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{ 'Search'|trans }}</button>
        </form>
    </div>

    {# TODO classes #}
    <div class="last-subscriptions-log">
        {% if last_events|length > 0 %}
            <div class="panel-group" id="accordion-log">
                <div class="panel panel-default">
                    <div class="panel-heading" id="heading-subscriptions-log">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-log" aria-expanded="true" href="#collapse-log">
                                <span class="glyphicon glyphicon-collapse-down"></span> {{ 'Last events'|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-log" class="panel-collapse collapse in" aria-labelledby="heading-subscriptions-log">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <td>{{ 'Subscriber'|trans }}</td>
                                    <td>{{ 'Author'|trans }}</td>
                                    <td>{{ 'Action'|trans }}</td>
                                    <td>{{ 'Date'|trans }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in last_events %}
                                    <tr>
                                        <td>
                                            <a href="{{ url('user_show', {login: event.subscriber.login}) }}">@{{ event.subscriber.login }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ url('user_show', {login: event.author.login}) }}">@{{ event.author.login }}</a>
                                        </td>
                                        <td>
                                            <span class="glyphicon {% if event.action == 'subscribe' %}glyphicon-plus{% elseif event.action == 'unsubscribe' %}glyphicon-minus{% endif %}"></span>
                                        </td>
                                        <td>
                                            {# Use DateTime helper: https://sonata-project.org/bundles/intl/master/doc/reference/datetime.html #}
                                            {{ event.date|date('d F Y H:i:s') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">{{ 'No log data found'|trans }}</div>
        {% endif %}
    </div>

    <div class="container service-stats">
        <div class="row">
            <div class="col-xs-8 col-sm-3"><span class="glyphicon glyphicon-user"></span> {{ 'All users'|trans }}</div>
            <div class="col-xs-4 col-sm-2">{{ users_count }}</div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-3"><span class="glyphicon glyphicon-user"></span> {{ 'Subscribed users'|trans }}</div>
            <div class="col-xs-4 col-sm-2"><a href="{{ url('user_show', {'login': service_login}) }}">{{ subscribers_count }}</a></div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-3"><span class="glyphicon glyphicon-list"></span> {{ '24 hours events'|trans }}</div>
            <div class="col-xs-4 col-sm-2">{{ events_count }}</div>
        </div>
    </div>
{% endblock %}
